body {
  font-family: "Muli", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

@font-face {
    font-family: 'ADAM.CGPRO';
    src: url("../fonts/ADAM.CGPRO.woff") format("woff");
}

.container-fluid {
  padding: 0;
  margin: 0;
  height: 100%;
}

/*NavBar Styling*/
#nav {
  width: 100%;
  height: 100px;
}

#nav img {
  position: relative;
  left: 20px;
  bottom: 5px;
  float: left;
  height: 110px;
  width: auto;
}

#nav ul {
  position: relative;
  top: 38px;
  left: 185px;
  width: 700px;
}

#nav li {
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
}

#nav a {
  color: #718792;
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 35px;
  text-decoration: none;
}

#nav a:hover {
  color: #98b0bc;
  border-bottom: solid 3px #e02227;
  transition: color .10s ease-in-out, border-bottom .10s ease-in-out;
}

#sign-in {
  position: relative;
  right: 60px;
  bottom: 10px;
  float: right;
}

#sign-in a {
  position: relative;
  color: #e02227;
  font-weight: 600;
  margin-right: 25px;
  padding: 0;
  top: 2px;
}

#sign-in a:hover {
  color: rgba(224,34,39, 0.7);
  border: none;
}

#sign-in button {
  background-color: #e02227;
  border: none;
  width: 125px;
  height: 40px;
  box-shadow: none;
}

#sign-in button:hover {
  background-color: rgba(224,34,39, 0.7);
  transition: background-color .15s ease-in-out;
}

/*Homepage Styling*/
#welcome {
  width: 100%;
  min-height: 650px;
  background: linear-gradient(to right, #A60000, #FF5F51);
}

#welcome h1 {
  display: none;
  padding-top: 100px;
  width: 1000px;
  margin: 0 auto;
  font-weight: 600;
  color: white;
  font-size: 60px;
}

#search {
  display: none;
  position: relative;
  top: 200px;
  width: 1000px;
  margin: 0 auto;
}

#search input {
  width: 820px;
  height: 60px;
  font-size: 25px;
}

#search input:focus {
  border: solid 1px #aeaeae;
}

#search input::placeholder {
  color: #aeaeae;
  font-weight: 200;
}

#search button {
  margin-left: 10px;
  height: 60px;
  width: 130px;
  background-color: #e0e0e0;
  font-size: 28px;
  color: #000000;
  border-color: #e0e0e0;
  box-shadow: none;
}

#search button:hover {
  background-color: #aeaeae;
  border-color: #aeaeae;
  color: white;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#welcome i {
  color: white;
}

#arrow {
  position: relative;
  width: 50px;
  margin: 0 auto;
  top: 240px;
}

/*Section Styling*/
.section {
  height: 700px;
}

.section h2 {
  position: relative;
  text-align: center;
  top: 40px;
  color: #E02227;
  font-weight: 600;
  font-size: 40px;
}

/*Quiz Styling*/
#quiz {
  background-color: #FCFCFC;
}

.rectangle {
  position: relative;
  margin: auto;
  top: 90px;
  width: 425px;
  height: 438px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.50);
  border-radius: 5px;
  text-align: center;
}

.rectangle img {
  position: relative;
  top: 50px;
  margin-bottom: 30px;
  height: 170px;
  width: auto;
}

.rectangle h1 {
  width: 300px;
  margin: auto;
  padding-top: 60px;
  color: #373737;
}

/*Storage Styling*/
.center {
  position: relative;
  top: 100px;
  width: 1200px;
  height: 600px;
  margin: auto;
}

.storage-sec {
  display: inline-block;
  height: 600px;
  width: 290px;
  text-align: center;
}

.storage-sec img {
  height: 125px;
}

.storage-sec h1 {
  color: #373737;
  padding-top: 45px;
  padding-bottom: 45px;
  font-size: 36px;
}

.storage-sec p {
  width: 180px;
  margin: auto;
  color: #616161;
}

/*Space Styling*/
#space {
  background-color: #FCFCFC;
}
/*FAQ Styling*/
#faq {
}

/*Footer Styling*/
.footer {
  position: absolute;
  bottom: 0;
  height: 130px;
  width: 100%;
  background-color: #4B636E;
  color: white;
  overflow: hidden;
}

.footer a {
  color: white;
}

.footer a:hover {
  text-decoration: none;
  color: #e0e0e0;
}

.footer-col {
  text-align: center;
  top: 50px;
}

#copyright {
  right: 40px;
}

#terms {
  left: 40px;
}
